.DS_Store
Thumbs.db
.vscode/
.idea/
__pycache__/
*.pyc
*.obj
*.o
*.exe
*.pdb
*.ilk
*.lib
*.exp
*.idb
*.log
seamcarve
seamcarve.exe
output/*.ppm
output/step/*.ppm
output/seam/*.ppm
output/energy/*.ppm
benchmarks/results.txt
data/input.ppm
