.DS_Store
Thumbs.db
.vscode/
.idea/
__pycache__/
*.pyc
*.obj
*.o
*.exe
*.pdb
*.ilk
*.lib
*.exp
*.idb
*.log
seam-carving-cuda/seamcarve
seam-carving-cuda/seamcarve.exe
seam-carving-cuda/output/*.ppm
seam-carving-cuda/output/step/*.ppm
seam-carving-cuda/output/seam/*.ppm
seam-carving-cuda/output/energy/*.ppm
seam-carving-cuda/benchmarks/results.txt
seam-carving-cuda/data/input.ppm
